<mat-toolbar color="primary">
    <a 
        routerLink="/"
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon" 
        color="accent">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>

    <a 
        *ngIf="!isLoggedIn"
        [routerLink]="'/login'"
        mat-raised-button 
        class="example-icon" 
        aria-label="Example icon-button with login icon" 
        color="accent"
    >
        Login
    </a>

    <a 
        *ngIf="!isLoggedIn"
        routerLink="/signup"
        mat-raised-button 
        class="example-icon ml-20 mr-20" 
        aria-label="Example icon-button with register icon" 
        color="accent"
    >
        Register
    </a>

    <a
        *ngIf="isLoggedIn && user"
        mat-icon-button
        class="example-icon"
        routerLink="/admin/profile"
        aria-label="Example icon-button with user icon" 
        color="accent"
    >
        {{ user['username'] }}
    </a>

    <a
        (click)="logout()"
        *ngIf="isLoggedIn"
        mat-raised-button
        class="example-icon ml-20 mr-20"
        aria-label="Example icon-button with register icon" 
        color="accent"
    >
        Logout
    </a>
</mat-toolbar>