<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="Logo here" height="100px">
                </div>

                <h1 class="text-center">Register !!</h1>

                <form action="">
                    <!-- Username field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Username
                        </mat-label>
                        <input matInput type="text" placeholder="Enter username here">
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Password
                        </mat-label>
                        <input matInput type="password" placeholder="Enter password here">
                    </mat-form-field>
                    
                    <!-- First name field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            First name
                        </mat-label>
                        <input matInput type="text" placeholder="Enter first name here">
                    </mat-form-field>
                    
                    <!-- Last name field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Last name
                        </mat-label>
                        <input matInput type="text" placeholder="Enter last name here">
                    </mat-form-field>
                    
                    <!-- Email field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Email
                        </mat-label>
                        <input matInput type="email" placeholder="Enter email here">
                    </mat-form-field>
                    
                    <!-- Phone field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Phone
                        </mat-label>
                        <input matInput type="tel" placeholder="Enter phone number here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary">
                            Register
                        </button>

                        <button class="ml-20" mat-raised-button color="accent">
                            Clear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>