<mat-card>
    <mat-card-header>
        <mat-card-title>
            All Quizzes
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="mt-10 ml-20 mr-20" *ngFor="let quiz of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>

        <mat-card-title>
            {{ quiz.title }}
        </mat-card-title>

        <mat-card-subtitle>
            {{ quiz.category.title }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{ quiz.description }}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-flat-button color="accent">Questions</button>
        <button class="ml-20" mat-stroked-button color="accent">Max Marks: {{ quiz.maxMarks }}</button>
        <button class="ml-20" mat-stroked-button color="accent">Displaying Questions: {{ quiz.numberOfQuestions }}</button>
        <button class="ml-20" mat-flat-button color="accent">Update</button>
        <button class="ml-20" mat-flat-button color="accent">Attempts</button>
        <button class="ml-20" 
            mat-flat-button color="warn" 
            (click)="deleteQuiz(quiz.quizID)"
        >Delete <mat-icon mat-list-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>

<div class="container text-center mt-20">
    <button mat-raised-button color="accent" routerLink="/admin/quizzes/add">Add New Quiz</button>
</div>