<h1 class="mt-20">
    Questions of '{{ quizTitle }}'
</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="container text-center">
                <button 
                    mat-raised-button 
                    color="primary"
                    (click)="addQuestion()"
                >Add Questions</button>
            </div>

            <div *ngIf="!(questions.length)" class="container text-center mt-20">
                <mat-divider></mat-divider>
                <p class="mt-20"><b>No Questions found</b></p>
            </div>

            <mat-card *ngFor="let question of questions; let i = index" class="mt-15">
                <mat-card-content>
                    <p><b>Q{{ i + 1 }})</b> <span class="ml-5" [innerHTML]="question['content']"></span></p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1) {{ question['option1'] }}</p>
                            </div>
                            <div class="col-md-6">
                                <p>2) {{ question['option2'] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>3) {{ question['option3'] }}</p>
                            </div>
                            <div class="col-md-6">
                                <p>4) {{ question['option4'] }}</p>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <p class="mt-10">
                            <b>Correct Answer: </b> {{ question['answer'] }}
                        </p>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>