<mat-card>
    <mat-list>
        <h1>All Categories</h1>

        <mat-divider></mat-divider>

        <div class="mt-15"></div>

        <mat-list-item *ngFor = "let category of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>
                {{ category.title }}
            </div>
            <div mat-line>
                {{ category.description }}
            </div>
            <div>
                <button mat-raised-button>
                    Delete <mat-icon>delete</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt-20">
        <button mat-raised-button color="accent" routerLink="/admin/categories/add">Add new Category</button>
    </div>

</mat-card>